.page {
  width: 100%;
}
.box {
  width: 60%;
  padding: 2%;
  background-color: white;
  border: 1px solid black;
}
.box-shape {
  width: 10%;
  height: 10%;
  float: left;
  background-color: aquamarine;
  font-weight: bold;
}
